body {
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
	font-size:115%;
}
h1 {
	font-size:235%;
	text-align:center;
}
h3 {
	font-size:160%;
	text-align:center;
}
#heading {
	background-color:#0077ef;
	padding-top:35px;
	width:100%;
	height:85px;
	top:0;
	border-radius:5px;
	border: solid 1px #E5E5E5;
}
#rules {
	background-color:#F5F5F5;
	width:500px;
	border-radius:5px;
	margin: 10px 0px 10px 0;
	border: solid 1px #E5E5E5;
	display:block;
}
#play {
	height:100px;
	width:240px;
  font-weight:bold;
  font-size:30px;
  text-decoration: none;
  background-color: #d94a39;
  color: #ffffff;
  border-radius:3px;
  border: solid 1px #E5E5E5;
  margin: 130px ;
  position:relative;
  left:480px;
  top:-270px;
}
#play_again {
	display:none;
	height:100px;
	width:240px;
  font-weight:bold;
  font-size:30px;
  text-decoration: none;
  background-color: #d94a39;
  color: #ffffff;
  border-radius:3px;
  border: solid 1px #E5E5E5;
  margin: 130px ;
  position:relative;
  left:70%;
  top:-270px;
}
img {
	background-color:black;
	display:none;
	width:600px;
	height:445px;
	position:relative;
	top:-160px;
}